
    .container{
        z-index: 1;
        background-color: hsla(205,46%,30%,1);
        text-align: center;
        width: 30%;
        height: 70%;
        margin-top: 5%;
    
    
    }
    table{
        padding-left: 10%;
        margin-left: 10%;
    }
    table td{
    padding-top: 10px;
    padding-left: 25px;
    }
    .button{
        color: #1cc49d;
        background-color: #1b2f31;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3em;
        width: 8em;
        font-size: large;
        font-weight: 600;
    }
