<!-- <img [src]="image1"> -->
<app-loggedinheader></app-loggedinheader>

<div class="container">
    <h1>{{title}}</h1>
    <form (ngSubmit)="updatebook()" style="background-color: hsla(205,46%,30%,1);">
<table>
    <tr>
        <td>Author Name</td>
        <td><input type="text" name='p_author' [(ngModel)] = 'bookItem.Authorname'></td>
    </tr>
    <tr>
        <td>Book Name</td>
        <td><input type="text" name='p_name' [(ngModel)] = 'bookItem.Bookname'></td>
    </tr>
    <tr>
        <td>Book Code</td>
        <td><input type="text" name='p_code' [(ngModel)] = 'bookItem.Bookcode'></td>
    </tr>
    <tr>
        <td>Genre</td>
        <td><input type="text" name='p_genre' [(ngModel)] = 'bookItem.Genre'></td>
    </tr>
    <tr>
        <td>Imageurl</td>
        <td><input type="text" name='p_image' [(ngModel)] = 'bookItem.Imageurl'></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="Submit" /></td>                  
      </tr>   
</table>



    </form>
</div>